{
    "rss" : {
        "genre": "str",
        "author": "str",
        "artist": "str",
        "album": "str",
        "track": "str",
        "publisher": "str",
        "label": "str",
        "channel": "str",
        "lang": "str",
        "feed": "str"
    },
    "api" : {
        "t": "str",
        "q": "str",
        "apikey": "str",
        "cat": "str",
        "limit": "int",
        "offset": "int",
        "imdbid": "str",
        "tvdbid": "int",
        "rid": "int",
        "season": "int",
        "ep": "int",
        "o": "str",
        "extended": "int",
        "id": "str",
        "r": "str",
        "lang": "str",
        "profile": "str",
        "title": "str",
        "year": "int",
        "rating": "string",
        "votes": "int",
        "tagline": "str",
        "runtime": "int",
        "trailer": "str",
        "homepage": "str",
        "country": "str",
        "genre": "str",
        "director": "str",
        "writer": "str",
        "cast": "str",
        "actor": "str",
        "release": "str",
        "top250": "int",
        "imdbvotes": "int",
        "downloaded": "str",
        "sort": "str",
        "order": "str",
        "set": "str",
        "episode": "int"
    }
}
