{
    "indexer1" : {
        "url" : "https://indexer1.com",
        "api_param" : "apikey"
    },
    "indexer2" : {
        "url" : "https://indexer2.com",
        "api_param" : "userid",
        "timeout" : 60,
        "user_agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.6 Safari/605.1.15"
    }
}